scripts/__pycache__
env/
.vscode
.DS_Store
csv/.DS_Store
csv/dockless_2018.csv
csv/dockless_2019.csv
csv/dockless_2018_formatted.csv
csv/dockless_2018_formatted_complete.csv
./nyc_data/csv/2019/fhv_tripdata_2019-05.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-02.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-10.csv
./nyc_data/csv/2019/fhv_tripdata_2019-02.csv
./nyc_data/csv/2019/fhv_tripdata_2019-10.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-11.csv
./nyc_data/csv/2019/yellow_tripdata_2019-08.csv
./nyc_data/csv/2019/fhv_tripdata_2019-09.csv
./nyc_data/csv/2019/yellow_tripdata_2019-07.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-04.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-09.csv
./nyc_data/csv/2019/green_tripdata_2019-02.csv
./nyc_data/csv/2019/fhv_tripdata_2019-12.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-12.csv
./nyc_data/csv/2019/yellow_tripdata_2019-10.csv
./nyc_data/csv/2019/yellow_tripdata_2019-11.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-03.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-08.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-06.csv
./nyc_data/csv/2019/fhv_tripdata_2019-11.csv
./nyc_data/csv/2019/yellow_tripdata_2019-05.csv
./nyc_data/csv/2019/yellow_tripdata_2019-02.csv
./nyc_data/csv/2019/fhv_tripdata_2019-08.csv
./nyc_data/csv/2019/yellow_tripdata_2019-12.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-05.csv
./nyc_data/csv/2019/yellow_tripdata_2019-03.csv
./nyc_data/csv/2019/green_tripdata_2019-01.csv
./nyc_data/csv/2019/fhv_tripdata_2019-03.csv
./nyc_data/csv/2019/fhvhv_tripdata_2019-07.csv
./nyc_data/csv/2019/fhv_tripdata_2019-06.csv
./nyc_data/csv/2019/yellow_tripdata_2019-09.csv
./nyc_data/csv/2019/yellow_tripdata_2019-01.csv
./nyc_data/csv/2019/fhv_tripdata_2019-07.csv
./nyc_data/csv/2019/yellow_tripdata_2019-04.csv
./nyc_data/csv/2019/yellow_tripdata_2019-06.csv
./nyc_data/csv/2019/fhv_tripdata_2019-04.csv
./nyc_data/csv/2019/fhv_tripdata_2019-01.csv
./nyc_data/csv/2019/green_tripdata_2019-03.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-06.csv
./nyc_data/csv/2020/fhv_tripdata_2020-02.csv
./nyc_data/csv/2020/fhv_tripdata_2020-12.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-05.csv
./nyc_data/csv/2020/fhv_tripdata_2020-10.csv
./nyc_data/csv/2020/fhv_tripdata_2020-11.csv
./nyc_data/csv/2020/yellow_tripdata_2020-11.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-11.csv
./nyc_data/csv/2020/fhv_tripdata_2020-08.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-01.csv
./nyc_data/csv/2020/yellow_tripdata_2020-07.csv
./nyc_data/csv/2020/yellow_tripdata_2020-09.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-12.csv
./nyc_data/csv/2020/yellow_tripdata_2020-02.csv
./nyc_data/csv/2020/fhv_tripdata_2020-03.csv
./nyc_data/csv/2020/fhv_tripdata_2020-09.csv
./nyc_data/csv/2020/fhv_tripdata_2020-01.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-10.csv
./nyc_data/csv/2020/yellow_tripdata_2020-08.csv
./nyc_data/csv/2020/yellow_tripdata_2020-03.csv
./nyc_data/csv/2020/yellow_tripdata_2020-12.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-08.csv
./nyc_data/csv/2020/yellow_tripdata_2020-10.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-07.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-03.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-09.csv
./nyc_data/csv/2020/yellow_tripdata_2020-01.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-04.csv
./nyc_data/csv/2020/fhvhv_tripdata_2020-02.csv
